.m-content {
    color: rgb(48, 48, 48);
    font-weight: 400;
}

.m-title {
    color: rgb(63, 63, 63);
}

label,
legend {
    color: black;
}

.area {
    min-height: 80px;
}

.no-ok {
    background-color: rgb(134, 134, 134);
    cursor: default;
    border-color: rgb(133, 133, 133);
}

.popup {
    size: 14px;
}

.popup input,
select {
    height: 90%;
}

.pt-0 {
    margin-top: 5px;
    margin-bottom: 5px;
}
