<div class="table-responsive container text-center pt-2">
    <span class="px-3 badge badge-warning bigger-font"
        *ngIf="isLocked()">
        No puedes usar el sistema hasta que hayas cambiado tu contraseña
    </span>

    <alert></alert>
    <h4 class="text-left my-3">Cambiar contraseña</h4>
    <form [formGroup]="form">

        <div class="row d-flex justify-content-center">

            <div class="col-md-5">
                
                <profile-view profileTitle="My profile" [autoLoad]="true">
                </profile-view>

            </div>

            <div class="col-md-7">
                <div class="form-group row pt-2 has-error has-feedback">
                    <label for="" class="col-md-4 col-form-label">Nueva contraseña</label>
                    <div class="col-md-8">
                        <input formControlName="password" type="password" class="form-control"
                            placeholder="Nueva contraseña" [class]="passwordValid()">

                        <span *ngIf="needsPassword()" class="text-danger text-center invalid">
                            La nueva contraseña es requerida<br>
                        </span>
                        <span *ngIf="regex()" class="text-danger text-center invalid">
                            La contraseña debe tener mínimo 6 caracteres<br>
                        </span>
                    </div>
                </div>

                <div class="form-group row pt-2 has-error has-feedback">
                    <label for="" class="col-md-4 col-form-label">Confirmar contraseña</label>
                    <div class="col-md-8">
                        <input formControlName="confirm" type="password" class="form-control"
                            placeholder="Confirmar contraseña" [class]="confirmPassword()">

                        <span *ngIf="needsConfirm()" class="text-danger text-center invalid">
                            La confirmación es requerida<br>
                        </span>
                        <span *ngIf="passwordMatch()" class="text-danger text-center invalid">
                            Las contraseñas no concuerdan<br>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <button [ngClass]="{'no-ok' : !form.valid || passwordMatch() }" type="button" (click)="next()" class="btn px-5 btn-success float-right">Continuar</button>

    </form>

</div>