<div class="containter text-center pt-2 mb-5 mx-3">
    <alert></alert>
    <h4 class="text-left my-3">Dar de alta nuevo equipo</h4>
    <form [formGroup]="form">
        <div class="row d-flex justify-content-center">

            <div class="col-md-6">

                <h5 class="text-left">Detalles del equipo</h5>

                <div class="form-group row pt-2 has-error has-feedback">
                    <label for="" class="col-md-4 col-form-label">Tipo de dispositivo</label>
                    <div class="col-md-8">
                        <select formControlName="tipo" [class]="getClass('tipo')" class="custom-select mb-2 mr-sm-2 mb-sm-0">
                            <option [value]='""' disabled selected>Seleccione el tipo de dispositivo</option>
                            <option value="INT">Equipo (INT)</option>
                            <option value="FIX">Fixture (FIX)</option>
                            <option value="DUM">Dummy (DUM)</option>
                        </select>
                        <!-- <default-input #ubicacion placeholder="Ubicacion donde estará" [values]="ubicaciones" 
                        (onType)="updateUbicacion($event)" [model]="defaultLocation"></default-input> -->
                    </div>
                </div>

                <div class="form-group row pt-2 has-error has-feedback">
                    <label for="" class="col-md-4 col-form-label">Descripción</label>
                    <div class="col-md-8">
                        <input formControlName="descripcion" type="text" class="form-control" placeholder="Descripción del equipo" [class]="getClass('descripcion')">
                    </div>
                </div>

                <div class="form-group row pt-2 has-error has-feedback">
                    <label for="" class="col-md-4 col-form-label">No. de serie</label>
                    <div class="col-md-8">
                        <input formControlName="serie" type="text" class="form-control" placeholder="Numero de serie" [class]="getClass('serie')">
                    </div>
                </div>

                <div class="form-group row pt-2 has-error has-feedback">
                    <label for="" class="col-md-4 col-form-label">Ubicación</label>
                    <div class="col-md-8">
                        <select formControlName="ubicacion" [class]="getClass('ubicacion')" class="custom-select mb-2 mr-sm-2 mb-sm-0">
                            <option [value]='""' disabled selected>Ubicación donde estará</option>
                            <option *ngFor="let u of _ubicaciones" [value]="u"> {{ u }} </option>
                        </select>
                        <!-- <default-input #ubicacion placeholder="Ubicacion donde estará" [values]="ubicaciones" 
                        (onType)="updateUbicacion($event)" [model]="defaultLocation"></default-input> -->
                    </div>
                </div>

                <div class="form-group row pt-2 has-error has-feedback">
                    <label for="" class="col-md-4 col-form-label">Estado del dispositivo</label>
                    <div class="col-md-8">
                        <select formControlName="activo" [class]="getClass('activo')" class="custom-select mb-2 mr-sm-2 mb-sm-0">
                            <option [value]='""' disabled selected>Estado actual</option>
                            <option *ngFor="let a of activos" [value]="a"> {{ a }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row pt-2 has-error has-feedback">
                    <label for="" class="col-md-4 col-form-label">Margen de error</label>
                    <span class="col-md-1 more-less"> ± </span>
                    <div class="col-md-7">
                        <input formControlName="error" type="text" class="form-control" placeholder="Error (deje vacío si no aplica)" [class]="getClass('error')">
                    </div>
                </div>

                <div class="form-group row pt-2 has-error has-feedback">
                    <label for="" class="col-md-4 col-form-label">Resolucion</label>
                    <div class="col-md-4">
                        <input formControlName="resInf" type="text" class="form-control" placeholder="Limite inferior" [class]="getClass('resInf')">
                    </div>
                    <div class="col-md-4">
                        <input formControlName="resSup" type="text" class="form-control" placeholder="Limite superior" [class]="getClass('resSup')">
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <h5 class="text-left">Detalles de calibración</h5>

                <div class="form-group row pt-2">
                    <legend class="col-form-label col-md-4 pt-0">Tipo de calibración</legend>
                    <div class="col-md-8">
                        <div class="form-check">
                            <input formControlName="calibracion" class="form-check-input" type="radio" name="calibracion" id="c1"
                                value="INTERNO">
                            <label class="form-check-label" for="c1">
                                Interna
                            </label>
                        </div>
                        <div class="form-check">
                            <input formControlName="calibracion" class="form-check-input" type="radio" name="calibracion" id="c2"
                                value="EXTERNO">
                            <label class="form-check-label" for="c2">
                                Externa
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row pt-2 has-error has-feedback">
                    <label for="" class="col-md-6 col-form-label">Periodo de calibración (meses)</label>
                    <div class="col-md-6">
                        <input formControlName="periodo" type="number" class="form-control" placeholder="Cada cuánto tiempo se calibra" [class]="getClass('periodo')">
                    </div>
                </div>

                <div class="form-group row pt-2 has-error has-feedback">
                    <label for="" class="col-md-4 col-form-label">Estado de calibracion</label>
                    <div class="col-md-8">
                        <select formControlName="estado" [class]="getClass('estado')" class="custom-select mb-2 mr-sm-2 mb-sm-0">
                            <option [value]='""' disabled selected>Estado actual</option>
                            <option *ngFor="let e of estados" [value]="e"> {{ e }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row pt-2">
                    <label for="" class="col-md-4 col-form-label">Fecha de calibrado</label>
                    <div class="col-md-8">
                        <input [class] = "getClass('fechaCalibracion')" class="form-control" formControlName="fechaCalibracion" type="date">
                    </div>
                </div>

                
                <div class="form-group row pt-2 has-error has-feedback">
                    <label for="" class="col-md-4 col-form-label">Prove - calibración</label>
                    <div class="col-md-8">
                        <input formControlName="calibradorCalibracion" type="text" class="form-control" placeholder="Nombre de quien calibró" [class]="getClass('calibradorCalibracion')">
                    </div>
                </div>

                <div class="form-check my-2" (click)="goDown()">
                    <input formControlName="hasCertificate" class="form-check-input" type="checkbox" id="hasCertificate">
                    <label class="form-check-label label-attach" for="hasCertificate">
                        Adjuntar Certificado de Calibración
                    </label>
                </div>
    
                <div class="form-group" *ngIf="form.controls['hasCertificate'].value"
                [ngClass]="{'was-validated': form.controls['certificate'].touched}">
                    <label for="certificate">Suba el Certificado de Calibración en formato PDF</label>
                    <input type="file" class="form-control file-input" [required]="form.controls['hasCertificate'].value"
                    (change) = "certificateEvent($event)"id="certificate" formControlName="certificate">
                    <span *ngIf="certificate">
                        <span class="adj">
                            Archivo adjunto:
                        </span> 
                        {{ certificate.name }}
                    </span>
                </div>
    
                <div class="form-check my-2" (click)="goDown()">
                    <input formControlName="hasRyr" class="form-check-input" type="checkbox" id="hasRyr">
                    <label class="form-check-label label-attach" for="hasRyr">
                        Adjuntar Pruebas RYR
                    </label>
                </div>
    
                <div class="form-group" *ngIf="form.controls['hasRyr'].value"
                [ngClass]="{'was-validated': form.controls['ryr'].touched}">
                    <label for="ryr">Suba el PDF o Excel de las Pruebas RYR</label>
                    <input type="file" class="form-control file-input" id="ryr"
                    (change)="ryrEvent($event)" formControlName="ryr" [required]="form.controls['hasRyr'].value">
                    <span *ngIf="ryr">
                        <span class="adj">
                            Archivo adjunto:
                        </span>
                        {{ ryr.name }}
                    </span>
                </div>

                <button [ngClass]="{'no-ok btn-secondary': !form.valid || needsEvidence() , 'btn-success' : form.valid && !needsEvidence()}" type="button" (click)="next()" class="btn px-5 float-right">Siguiente</button>

            </div>

        </div>
    </form>
</div>