<div class="containter text-left pt-2 mx-2">
    <alert></alert>
    <h4 class="text-left my-3">Administrar encargados</h4>
    <span class="text-left mt-0 mb-1">
        En este apartado puede administrar los usuarios que pueden manejar el sistema como administrador.
        Los cambios se guardarán hasta que presione el botón de guardar cambios.
    </span>
    <br>
    <span>
        {{ changesDone }} cambios hechos
    </span>
    <div class="row py-2">
        <form [formGroup]="form" class="ml-3 col-md-10">
            <div class="form-group row">
                <label for="" class="col-md-3 col-form-label has-error has-feedback">Nuevo encargado</label>
                <div class="col-md-3">
                    <user-input #usuario (update)="setValues($event)" [users]="users">
                    </user-input>
                </div>
                <div class="col-md-3">
                    <select [class]="getClass('posicion')" formControlName="posicion"
                    class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                    <option [value]='null' disabled selected>Rol del usuario</option>
                    <option value='encargado'>Encargado</option>
                    <option value='prestador'>Prestador</option>
                </select>
                </div>
                <div class="col-md-3">
                    <button class="btn" (click)="addUser()"
                        [ngClass]="{'btn-primary': getValidity(),'btn-secondary disabled' : !getValidity() }">
                        Agregar
                    </button>
                </div>
            </div>
        </form>
        <div class="table-responsive px-3 text-center">
            <table class="table table-hover table-bordered" *ngIf="show">
                <thead>
                    <tr class="header">
                        <th scope="col">
                            Usuario
                        </th>
                        <th scope="col">
                            Nombre de usuario
                        </th>
                        <th scope="col">
                            Correo asociado
                        </th>
                        <th scope="col">
                            Rol
                        </th>
                        <th scope="col">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of encargados; let i = index">
                        <td>
                            {{ e.name }}
                        </td>
                        <td>
                            {{ e.username }}
                        </td>
                        <td>
                            {{ e.email }}
                        </td>
                        <td>
                            {{ e.posicion | titlecase }}
                        </td>
                        <td>
                            <button *ngIf="e.username != myUser && e.posicion != 'gerente'; else no_user" title="Remover encargado"
                                class="btn btn-danger fas fa-user-times" (click)="remove(i)">
                            </button>
                            <ng-template #no_user>N/A</ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <confirm-modal trigger="Guardar cambios" title="Confirmar encargados"
    content="¿Desea guardar los cambios hechos a la lista de encargados?"
    (accept)="confirm()" [isDisabled]="changesDone == 0" reason="No ha hecho cambios">
    </confirm-modal>
</div>