<div class="containter text-left pt-2 mx-2">
    <alert></alert>
    <h4 class="text-left my-3">Administrar encargados</h4>
    <span class="text-left mt-0 mb-1">
        En este apartado puede administrar los usuarios que pueden manejar el sistema como administrador.
    </span>
    <div class="row py-2">
        <form [formGroup]="form" class="ml-3 col-md-8">
            <div class="form-group row">
                <label for="" class="col-md-3 col-form-label has-error has-feedback">Nuevo encargado</label>
                <div class="col-md-6">
                    <user-input #usuario (update)="setValues($event)" [users]="users">
                    </user-input>
                </div>
                <div class="col-md-3">
                    <button class="btn" (click)="addUser()"
                        [ngClass]="{'btn-primary': getValidity(),'btn-secondary disabled' : !getValidity() }">
                        Agregar
                    </button>
                </div>
            </div>
        </form>
        <div class="table-responsive px-3 text-center">
            <table class="table table-hover table-bordered" *ngIf="show">
                <thead>
                    <tr class="header">
                        <th scope="col">
                            Encargado
                        </th>
                        <th scope="col">
                            Nombre de usuario
                        </th>
                        <th scope="col">
                            Correo asociado
                        </th>
                        <th scope="col">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of encargados">
                        <td>
                            {{ e.name }}
                        </td>
                        <td>
                            {{ e.username }}
                        </td>
                        <td> 
                            {{ e.email }}
                        </td>
                        <td>
                            N/A
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <confirm-modal trigger="Guardar cambios">
        
    </confirm-modal>
</div>