<div class="table-responsive container text-center mb-5">
    <alert></alert>
    <div class="table-responsive">
        <table class="table table-borderless">
            <tr>
                <td>
                    <h4 class="text-left my-1">Lista de equipos</h4>
                </td>
                <td>
                    <div class="text-right">
                        <filter (apply)="appyFilters($event)" (reset)="resetFilters()"> </filter>
                    </div>
                </td>
            </tr>
        </table>
    </div>


    <table class="table table-hover table-bordered table-sm">
        <thead>
            <tr class="header">
                <th scope="col" class="align-middle">
                    ID
                </th>
                <th scope="col" class="align-middle">
                    Descripción
                </th>
                <th scope="col" class="align-middle">
                    No. serie
                </th>
                <th scope="col" class="align-middle">
                    Estado
                </th>
                <th scope="col" class="align-middle">
                    <span class="mx-3">Activo</span>
                </th>
                <th scope="col" class="align-middle">
                    Ubicación
                </th>
                <th scope="col" class="align-middle">
                    Ultima calibración
                </th>
                <th scope="col" class="align-middle">
                    Siguiente calibración
                </th>
            </tr>
        </thead>
        <tbody class="click">
            <tr *ngFor="let d of devices" (click)="deviceDetails(d.id)">
                <td> {{ d.id }}</td>
                <td> {{ d.descripcion }} </td>
                <td> {{ d.serie }}</td>
                <td>
                     <i [class]="icons.estado(d.estado)"></i>
                     {{ d.estado }} 
                </td>
                <td>
                     <i [class]="icons.activo(d.activo)"></i>
                     {{ d.activo }} 
                </td>    
                <td> {{ d.ubicacion}} </td>
                <td> {{ d.ultima | date:'shortDate' }} </td>            
                <td> {{ d.siguiente | date:'shortDate' }} </td>
            </tr>
        </tbody>


    </table>
    <!-- <ng-template #empty_body>
        <error-message type="empty" title="Nothing here..." description="You don't have any waiver request yet">
        </error-message>
    </ng-template> -->
</div>