<div class="table-responsive container text-center mb-5">
    <alert></alert>
    <div class="table-responsive">
        <table class="table table-borderless">
            <tr>
                <td>
                    <h4 class="text-left my-1">Lista de equipos</h4>
                </td>
                <td>
                    <div class="text-right">
                        <!-- <filter [blocked]="['originator']" *ngIf="waivers != null" (apply)="filter($event)"> </filter> -->
                    </div>
                </td>
            </tr>
        </table>
    </div>


    <table class="table table-hover table-bordered table-sm">
        <thead>
            <tr class="header">
                <th scope="col">
                    ID
                </th>
                <th scope="col">
                    Descripcion
                </th>
                <th scope="col">
                    Serie
                </th>
                <th scope="col">
                    Estado
                </th>
                <th scope="col">
                    Activo
                </th>
                <th scope="col">
                    Ubicación
                </th>
                <th scope="col">
                    Ultima calibración
                </th>
                <th scope="col">
                    Siguiente calibración
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of devices">
                <td> {{ d.id }}</td>
                <td> {{ d.descripcion }} </td>
                <td> {{ d.serie }}</td>
                <td> {{ d.estado }} </td>
                <td> {{ d.activo }} </td>    
                <td> {{ d.ubicacion}} </td>
                <td> {{ d.ultima | date:'shortDate' }} </td>            
                <td> {{ d.siguiente | date:'shortDate' }} </td>
            </tr>
        </tbody>


    </table>
    <!-- <ng-template #empty_body>
        <error-message type="empty" title="Nothing here..." description="You don't have any waiver request yet">
        </error-message>
    </ng-template> -->
</div>