<alert></alert>
<device [id]="id" (receive)="exists($event)">
</device>

<div *ngIf="show">
    <h5>Confirmación de calibración</h5>
    <div class="row py-2">
        <div class="col-md-6">
            <div class="row" *ngIf="device?.calibracion == 'EXTERNO'">
                <label for="" class="col-md-4 col-form-label has-error has-feedback">Prove-Calibración</label>
                <div class="col-md-8">
                    <input formControlName="calibrador" type="text" class="form-control"
                        placeholder="Nombre del calibrador">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <confirm-modal (accept)="confirmCalibration()" myClass="px-5 m-3 float-left"
                [content]="'¿Confirma la calibración correcta del equipo ' + id + ' y su respectiva verificación de etiqueta?'"
                title="Confirmar calibración" trigger="Calibración aceptada">
            </confirm-modal>
        </div>
    </div>
</div>