<alert></alert>
<device [id]="id" (receive)="exists($event)">
</device>

<div *ngIf="show">
    <h5>Confirmación de calibración</h5>
    <file-upload></file-upload>
    <div class="row py-2">
        <div class="col-md-6">
            <div class="row" *ngIf="device?.calibracion == 'EXTERNO'">
                <label for="" class="col-md-4 col-form-label has-error has-feedback">Prove-Calibración</label>
                <div class="col-md-8">
                    <form [formGroup]="form">
                        <input formControlName="calibrador" type="text" class="form-control"
                            placeholder="Nombre del calibrador">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <confirm-calibration-modal (accept)="confirmCalibration()" myClass="px-5 m-3 float-left"
                title="Confirmar calibración" trigger="Marcar calibración aceptada">
            </confirm-calibration-modal>
        </div>
    </div>
</div>