<alert></alert>
<device [id]="id" (receive)="exists($event)" [canHide]="true">
</device>

<div *ngIf="show">
    <h5>Adjuntar archivos a calibraciones</h5>
    <p>
        * Seleccione la calibración a la cual desea agregar archivos
    </p>
    <p>
        * Adjunte el archivo correspondiente
    </p>
    <div class="row py-2">
        <form [formGroup]="form" class="ml-3 col-md-6">

            <div class="form-group row">
                <label for="" class="col-md-5 col-form-label has-error has-feedback">Calibración</label>
                <div class="col-md-7">
                    <select formControlName="calibracion" [class]="getClass('calibracion')"
                        class="custom-select mb-2 mr-sm-2 mb-sm-0" (change)="setModel()">
                        <option [value]="''" selected disabled>Seleccione el evento de calibración</option>
                        <option *ngFor="let c of device.calibraciones" [value]="c.id">
                            ID : {{ c.id }} -
                            {{ c.fecha| date:'mediumDate':'UTC' }}
                            por {{ c.calibrador }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-md-5 col-form-label has-error has-feedback">Verificó</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" formControlName="verifico" [value]="getModel('verifico')"
                        placeholder="Nombre del verificador" [class]="getClass('verifico')">
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-md-5 col-form-label has-error has-feedback">Prove-Calibración</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" formControlName="calibrador"
                        [value]="getModel('calibrador')" placeholder="Nombre del calibrador"
                        [class]="getClass('calibrador')">
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-md-5 col-form-label has-error has-feedback">Fecha de calibración</label>
                <div class="col-md-7">
                    <input [class]="getClass('fecha')" formControlName="fecha" class="form-control date-short"
                        type="date" [value]="getModel('fecha')">
                </div>
            </div>

            <div *ngIf="!isDummy()">
                <div class="form-check my-2" (click)="goDown()">
                    <input formControlName="hasCertificate" class="form-check-input" type="checkbox"
                        id="hasCertificate">
                    <label class="form-check-label label-attach" for="hasCertificate">
                        Adjuntar Certificado de Calibración
                    </label>
                </div>

                <div class="form-group" *ngIf="form.controls['hasCertificate'].value"
                    [ngClass]="{'was-validated': form.controls['certificate'].touched}">
                    <label for="certificate">Suba el Certificado de Calibración en formato PDF</label>
                    <input type="file" class="form-control file-input" (change)="certificateEvent($event)"
                        id="certificate" formControlName="certificate">
                    <span *ngIf="certificate">
                        <i class="fas fa-check-circle ok-icon-st"></i>
                        <span class="adj">
                            Archivo adjunto:
                        </span>
                        {{ certificateName }}
                    </span>
                </div>

                <div class="form-check my-2" (click)="goDown()">
                    <input formControlName="hasRyr" class="form-check-input" type="checkbox" id="hasRyr">
                    <label class="form-check-label label-attach" for="hasRyr">
                        Adjuntar Pruebas RYR
                    </label>
                </div>

                <div class="form-group" *ngIf="form.controls['hasRyr'].value"
                    [ngClass]="{'was-validated': form.controls['ryr'].touched}">
                    <label for="ryr">Suba el PDF o Excel de las Pruebas R&R</label>
                    <input type="file" class="form-control file-input" id="ryr" (change)="ryrEvent($event)"
                        formControlName="ryr">
                    <span *ngIf="ryr">
                        <i class="fas fa-check-circle ok-icon-st"></i>
                        <span class="adj">
                            Archivo adjunto:
                        </span>
                        {{ ryrName }}
                    </span>
                </div>
            </div>

        </form>
    </div>

    <div class="row py-2">
        <div class="col-md-6">

        </div>

        <div class="col-md-6">
            <confirm-modal 
            [isDisabled]="! isValid()" 
            (triggered)="form.markAllAsTouched()"
            [reason]="reasons"
            trigger="Adjuntar archivos">
            </confirm-modal>
        </div>
    </div>
</div>