<div class="containter text-center pt-2 mb-5 mx-3">
    <alert></alert>
    <h4 class="text-left my-3">Eventos programados</h4>
    <span class="text-left float-left mt-0 mb-1">
        Consulte la lista de eventos programados y haga reenvio de correos o 
        actualice los respaldos
    </span>
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr class="header">
                <th scope="col">Evento</th>
                <th scope="col">Descripción</th>
                <th scope="col">Frecuencia</th>
                <th scope="col">Reenviar / Forzar</th>
            </tr>
        </thead>
        <tbody>
        </tbody>


    </table>
</div>