<div class="text-center body">
    <img (click) = "goBack()" class="my-3 logo" src="./../../../assets/logo.png">
    <h1 class="big-404 my-3">503</h1>
    <h2 class="error-content">Servidor en mantenimiento</h2>
    <h4 class="reason">
        Estamos dando mantenimiento al servidor o agregando nuevas increíbles funciones
    </h4>
    <h3>
        Si requieres ayuda inmediata contáctame 
            <a href="mailto:i.lopez@mx.interplex.com?cc=g.madgaleno@mx.interplex.com, m.apolinar@mx.interplex.com&subject=Soporte Sistema Calibraciones">
            aquí
        </a>
    </h3>
    <h4 class="address">
        -Ivan Lopez: (i.lopez@mx.interplex.com)
    </h4>
    <span (click) = "goBack()" class="go-back">Volver a intentar</span>
    <app-footer></app-footer>
</div>

