<div *ngIf="exists; else not_found" class="card my-3 pb-3">
    <div class="container text-center pt-1">
        <div class="row">
            <h4 class="text-left my-3"> {{ device['descripcion'] || '' }} - {{ id }} </h4>

            <!-- <div class="col-md-8">
                <h4 class="text-left my-3"> {{ title }} {{ id }}</h4>
            </div>
            <div class="col-md-4 text-right">
                <waiver-actions [wr]="wr"></waiver-actions>
            </div> -->
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">

                <h5 class="text-left subtitle-att">Detalles del equipo</h5>

                <attr name="ID" [value]="id"></attr>
                <attr name="Descripcion" [value]="device.descripcion"></attr>
                <attr name="Numero de serie" [value]="device.serie"></attr>
                <attr name="Ubicacion" [value]="device.ubicacion"></attr>
                <attr name="Tipo de calibracion" [value]="device.calibracion"></attr>
                <attr name="Error" [value]="errorPipe.transform(device.error)"></attr>
                <attr name="Resolución" [value]="resolution.transform(device.resInf,device.resSup)"></attr>
                <attr name="Estado del dispositivo" [value]="device.activo" [status]="getActive()"></attr>
                <attr name="Estado de calibracion" [value]="device.estado" [status]="getStatus()"></attr>
                <attr name="Periodo de calibración" [value]="device.periodo == 1 ? '1 año' : device.periodo + ' años'">
                </attr>

                <div>
                    <h6 class="text-left subtitle-att">Calibradores del equipo</h6>
                    <ul class="dot-list" *ngIf="device.verificadores.length > 0;else empty_calibradores">
                        <li *ngFor="let c of device.verificadores">
                            {{ c.nombre }}
                        </li>
                    </ul>
                    <ng-template #empty_calibradores>
                        <span class="empty text"> No hay información de los calibradores de este equipo</span>
                    </ng-template>
                </div>

                <div>
                    <h6 class="text-left subtitle-att">Responsables del equipo</h6>
                    <ul class="dot-list" *ngIf="device.responsables.length > 0; else empty_responsables">
                        <li *ngFor="let r of device.responsables">
                            {{ r.nombre }}
                        </li>
                    </ul>
                    <ng-template #empty_responsables>
                        <span class="empty text"> No hay información de los responsables de este equipo</span>
                    </ng-template>
                </div>
            </div>
            <div class="col-md-6 table-responsive container text-center">

                <div>
                    <h5 class="text-left subtitle-att">Calendario de calibración</h5>

                    <div *ngIf="device.activo=='Activo'; else empty_calendario">
                        <attr name="Última calibración" [value]="datePipe.transform(device.ultima,'longDate')">
                        </attr>
                        <attr name="Siguiente calibración" [value]="datePipe.transform(device.siguiente,'longDate')">
                        </attr>
                        <attr name="Aviso" [value]="datePipe.transform(device.aviso,'longDate')">
                        </attr>
                        <attr name="Días antes de siguiente calibración: " [value]="getDays()" [status]="daysIcon()">
                        </attr>

                        <div class="m5-3 mt- mb-3">
                            <p>Deadline próxima calibración</p>
                            <div class="row">
                                <div class="col-2 pbar">
                                    <p>{{ device.ultima | date:'shortDate'}}</p>
                                    <i class="far fa-calendar-check"></i>
                                </div>
                                <div class="col-8">
                                    <ngb-progressbar [type]="getDateType()" [value]="getDateValue()"
                                        [ngClass]="{'bar' : getDateType() == 'warning' }" height="25px">
                                        {{ status }}
                                    </ngb-progressbar>
                                </div>
                                <div class="col-2 pbar">
                                    <p>{{ device.siguiente | date:'shortDate' }}</p>
                                    <i class="far fa-calendar-times"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #empty_calendario>
                        <span class="empty text">Dispositivo inactivo, sin próxima calibración planeada</span>
                    </ng-template>
                </div>

                <div>
                    <h5 class="text-left subtitle-att">Historial de calibraciones</h5>
                    <table class="table table-hover table-bordered table-sm"
                        *ngIf="device.calibraciones.length > 0; else empty_calibraciones">
                        <thead>
                            <tr class="header">
                                <th scope="col">
                                    Fecha
                                </th>
                                <th scope="col">
                                    Prove-Calibracion
                                </th>
                                <th scope="col">
                                    Verificó
                                </th>
                                <th scope="col">
                                    Verif. de etiqueta
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of device.calibraciones">
                                <td> {{ c.fecha| date:'mediumDate' }}</td>
                                <td> {{ c.calibrador }}</td>
                                <td> {{ c.verifico }} </td>
                                <td> OK </td>
                            </tr>
                        </tbody>
                    </table>
                    <ng-template #empty_calibraciones>
                        <span class="empty text"> No hay información del historial de calibraciones de este
                            equipo</span>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #not_found>
    <error-message type="error" title="ERROR" [loading]="exists"
        description="No se encontró el dispositivo con el ID especificado">
    </error-message>
</ng-template>