<div *ngIf="exists" class="card my-3 pb-3">
    <div class="container text-center pt-1">
        <div class="row">
            <h4 class="text-left my-3"> {{ device['descripcion'] || '' }} - {{ id }} </h4>

            <!-- <div class="col-md-8">
                <h4 class="text-left my-3"> {{ title }} {{ id }}</h4>
            </div>
            <div class="col-md-4 text-right">
                <waiver-actions [wr]="wr"></waiver-actions>
            </div> -->
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">

                <h5 class="text-left subtitle-att">Detalles del equipo</h5>

                <attr name="ID" [value]="id"></attr>
                <attr name="Descripcion" [value]="device.descripcion"></attr>
                <attr name="Numero de serie" [value]="device.serie"></attr>
                <attr name="Ubicacion" [value]="device.ubicacion"></attr>
                <attr name="Tipo de calibracion" [value]="device.calibracion"></attr>
                <attr name="Error" [value]="errorPipe.transform(device.error)"></attr>
                <attr name="Resolución" [value]="resolution.transform(device.resInf,device.resSup)"></attr>
                <attr name="Estado del dispositivo" [value]="device.activo" [status]="getActive()"></attr>
                <attr name="Estado de calibracion" [value]="device.estado" [status]="getStatus()"></attr>
                <div>
                    <h5 class="text-left subtitle-att">Calibradores del equipo</h5>
                    <ul class="dot-list">
                        <li *ngFor="let c of device.verificadores">
                            {{ c.nombre }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 table-responsive container text-center">
                <div>
                    <h5 class="text-left subtitle-att">Responsables del equipo</h5>
                    <ul class="dot-list">
                        <li *ngFor="let r of device.responsables">
                            {{ r.nombre }}
                        </li>
                    </ul>
                </div>

                <!-- <div>
                    <h5 class="text-left subtitle-att">Calibradores del equipo</h5>
                    <ul class="dot-list">
                        <li *ngFor="let c of device.verificadores">
                            {{ c.nombre }}
                        </li>
                    </ul>
                </div> -->

                <div *ngIf="device.activo=='Activo'">
                    <h5 class="text-left subtitle-att">Calendario de calibración</h5>

                    <attr name="Última calibración" [value]="datePipe.transform(device.calendario.ultimo,'longDate')">
                    </attr>
                    <attr name="Siguiente calibración"
                        [value]="datePipe.transform(device.calendario.siguiente,'longDate')">
                    </attr>
                    <attr name="Aviso" [value]="datePipe.transform(device.calendario.aviso,'longDate')">
                    </attr>


                    <div class="m5-3 mt- mb-3">
                        <p>Deadline próxima calibración
                            <ngb-progressbar class="bar my-1" [type]="getDateType()" [value]="getDateValue()" height="25px">
                            {{ status }}
                            </ngb-progressbar>
                        </p>
                    </div>
                </div>

                <div>
                    <h5 class="text-left subtitle-att">Historial de calibraciones</h5>
                    <table class="table table-hover table-bordered table-sm">
                        <thead>
                            <tr class="header">
                                <th scope="col">
                                    Fecha
                                </th>
                                <th scope="col">
                                    Prove-Calibracion
                                </th>
                                <th scope="col">
                                    Verificó
                                </th>
                                <th scope="col">
                                    Verif. de etiqueta
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of device.calibraciones">
                                <td> {{ c.fecha| date:'mediumDate' }}</td>
                                <td> {{ c.calibrador }}</td>
                                <td> {{ c.verifico }} </td>
                                <td> OK </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>