.subtitle-att{
    size: 20px;
    margin-top: 4px;
}

.separator{
    margin-top: 1px;
    margin-bottom: 1px;
}

.dot-list{
    text-align: left !important;
}

.bar{
    -webkit-text-stroke: 0.55px rgb(0, 0, 0); /* width and color */
}

.pbar i{
    font-size: 24px;
    padding-top: 2px;
}

.pbar p{
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 0px;
}

.empty{
    font-size: 14px;
    color: black;
    padding-top: 0px;
}

.black-link{
    color: rgb(46, 46, 46);
}

.black-link:hover{
    cursor: pointer !important;
    text-decoration: underline;
}