.label {
    color: rgb(49, 49, 49);
    font-weight: 300;
    font-size: 20px;
}

.bold {
    font-weight: 600;
}

.gray {
    color: rgb(92, 92, 92);
}

.required {
    color: red;
    font-size: 24px;
    font-weight: 900;
}

.black-link{
    color: rgb(46, 46, 46);
}

.black-link:hover{
    cursor: pointer !important;
    text-decoration: underline;
}

.black-link i{
    font-size: 75%;
}
