<div class="containter-fluid pb-5 d-flex flex-row-reverse">
    <button class="btn btn-md" [ngClass]="{'btn-disabled btn-secondary': isDisabled, 'btn-success' : !isDisabled}"
        [class]="myClass" (click)="open(confirmModal)">
        {{ trigger }}
    </button>
</div>
<ng-template #confirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title m-title" id="modal-basic-title"> {{ title }} </h4>
        <button type="button" class="close" style="outline:none;" aria-label="Close" (click)="modal.dismiss('CANCEL')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body m-content">
        <div *ngIf="!isDisabled; else reason_content">
            {{ content }}
            <form [formGroup]="form">
                <div class="form-check my-2">
                    <input formControlName="calibration" class="form-check-input" type="checkbox" id="calibration">
                    <label class="form-check-label" for="calibration">
                        La calibración del equipo fue completada correctamente
                    </label>
                </div>
                <div class="form-check my-2">
                    <input formControlName="label" class="form-check-input" type="checkbox" id="label">
                    <label class="form-check-label" for="label">
                        Se verificó que los datos en la etiqueta sean correctos
                    </label>
                </div>
            </form>
            <span class="error" *ngIf="touched && !form.valid">
                La verificación de los requerimientos es obligatoria
            </span>
        </div>
        <ng-template #reason_content>
            <div *ngIf="areReasons();else one_reason">
                No se puede realizar la acción correspondiente por las siguientes razones: <br>
                <p *ngFor="let r of reason" class="reasons">
                    * {{ r }}
                </p>
            </div>
            <ng-template #one_reason>
                No puede realizar esta acción:
                <span class="reasons">
                    {{ reason }}
                </span>
            </ng-template>
        </ng-template>
    </div>
    <div class="modal-footer">
        <button *ngIf="!isDisabled" type="button" class="btn px-3" (click)="confirm()"
            [ngClass]="{'btn-disabled btn-secondary': !form.valid, 'btn-success' : form.valid}">
            Continuar
        </button>
        <button *ngIf="!isDisabled" type="button" class="btn btn-danger px-3"
            (click)="modal.close('NO')">Cancelar</button>
        <button *ngIf="isDisabled" type="button" class="btn btn-primary px-3" (click)="modal.close('')">Ok</button>
    </div>
</ng-template>